header{ 
	.header-content {
		height:75px;
	}
	
	.header-logo {
		border-color:tranparent !important;
		height:75px;
		    .icon img{
	    		display:none;
     		}
			a {
			background:white;
			padding-left:15px;
			height:75px;
				.gitlab-text-container {
					display:none;
				}
				> img {
					width: 124px;
					height:65px;
					clear:both;
				}

			}
	}
	&.navbar-empty .center-logo img{
		height:auto;
	}
}
html body {
    padding-top: 75px;
	&.login-page{
		padding-top: 116px;
	}
}


@media(max-width: $screen-md-max) {
	header{ 
		.header-content {
			height:50px;

		}
		.header-logo {
			height:50px;
				a {
				padding-left:8px;
				height:50px;
					img{
						display:none;
					}
							
			        .icon img{
				      display:inline;
			        }
				}
		}
	}
	html body {
    	padding-top: 50px;
	}
}